table {
  width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

mat-row:hover {
  cursor: pointer;
}

.icon-button {
  background: none;
  border: none;

  :hover {
    cursor: pointer;
  }
}
